<div class="row">
	<div class="white col-md-1">
		<table class="table table-hover">
			Pic
		</table>
	</div>
	<div class="white col-md-6">
		<table class="table table-hover">
			Board Name
		</table>
	</div>
	<div class="white col-md-1">
		<table class="table table-hover">
			Thread Number
		</table>
	</div>
	<div class="white col-md-1">
		<table class="table table-hover">
			Post Number
		</table>
	</div>
	<div class="white col-md-3">
		<table class="table table-hover">
			Latest Post
		</table>
	</div>
</div>
